/*
 * Universal
 */

.sheet-section {
    margin-bottom: 15px;
    width: 836px;
}

.sheet-line-input {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid gray 1px;
}

.sheet-line-noninput {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input.sheet-arrow-toggle {
    position: absolute;
    opacity: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 1;
}

.sheet-arrow-label {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

input.sheet-arrow-toggle:checked ~ .sheet-arrow-label {
    display: inline-block;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);

}

input.sheet-arrow-toggle:not(:checked) ~ .sheet-spell-notes {
    display: none;
}

/*
 * Basics Section
 */

.sheet-basics-section {
    margin-top: 10px;
}

.sheet-basics-label {
    display: inline-block;
    width: 15%;
    text-align: right;
    font-size: 1em;
    margin-bottom: 5px;
}

input.sheet-name-input,
input.sheet-people-input,
input.sheet-creed-input,
input.sheet-idiosyncrasy-input {
    display: inline-block;
    width: 80%;
    height: 18px;
}

hr.sheet-basics-divider {
    margin: 10px;
}

.sheet-people-notes-input {
    width: 665px;
    height: 50px;
    margin-left: 135px;
    resize: vertical;
    border: 0 none;
    border-bottom: solid 1px gray;
}

.sheet-luck-box {
    width: 415px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.sheet-ambition-input {
    width: 100%;
}

.sheet-experiences-box {
    width: 415px;
    display: inline-block;
    vertical-align: top;
}

.sheet-experience-input {
    width: 360px;
}

select.sheet-experience-stat {
    width: 100px;
    border: none;
    border-bottom: solid 1px gray;
    font-weight: bold;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.sheet-experience-stat::-ms-expand {
    display: none;
}

/*
 * Stats Section
 */

.sheet-stats-section {
    margin-top: 10px;
}

.sheet-stats-box {
    display: inline-block;
    width: 120px;
    border: solid gray 1px;
    padding-top: 0px;
    text-align: center;
}

/*.sheet-stat-label {*/
/*    display: inline-block;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    font-weight: bold;*/
/*    font-size: 1em;*/
/*    background-color:yellow;*/
/*}*/

button[type="roll"]:not(.sheet-spell-roll){
  position: relative;
  color: black;
  height: 20px;
  width: 92%;
  font-size: 1em;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 0px;
}

button[type="roll"].sheet-spell-roll{
  font-size: 1em;
  width:30px;
  font-weight: bold;
}

input[type=number].sheet-stat-input,
input[type=text].sheet-stat-input{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: none;
    background: white;
}

.sheet-spirit-bar {
	display: inline-block;
	position: relative;
}

.sheet-spirit-numbers {
	position: relative;
	margin-left: 42px;
	margin-top: 10px;
	text-align: center;
}

.sheet-spirit-numbers-span {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
}

input[type=number].sheet-spirit-numbers-label {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 30px;
	background: transparent;
	border-style: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: -5px;
	margin-left: -5px;
}

.sheet-spirit-label {
  width: 108px;
  height: 108px;
  position: absolute;
  top: -35px;
  left: 30px;
  border-radius: 54px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3), inset 0 0 20px rgba(0,0,0,1);
  overflow: hidden;
  background: transparent;
  color: #000;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: -4px;
}

input[type="range"].sheet-rangespirit{
  overflow: hidden;
  position: absolute;
  top: -35px;
  left: 30px;
  width: 100px;
  border-radius: 50px;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.3), inset 0 0 20px rgba(0,0,0,1);*/
  -webkit-appearance: none;
  background-color: transparent;
  transform: rotate(270deg);
}

input[type='range'].sheet-rangespirit::-webkit-slider-runnable-track {
      height: 100px;
      -webkit-appearance: none;
	  border-radius: 50px;
      /*color: #13bba4;*/
    }
	
input[type='range'].sheet-rangespirit::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 100px;
      box-shadow: -80px 0 0 86px #43e5f7;
	  /*box-shadow: 0 0 5px rgba(255,0,0,0.3), inset 0 0 20px rgba(255,0,0,1);*/
    }
/*
 * Tabs section
 */

.sheet-tab-button {
    position: relative;
    width: 80px;
    height: 22px;
    margin: 0;
    opacity: 0;
    z-index: 9999;
    border: none;
}

.sheet-tab {
    display: inline-block;
    position: relative;
    width: 78px;
    height: 23px;
    margin: 0 0 0 -80px;
    padding: 0 0 0 0;
    cursor: pointer;
    border: 1px solid lightgray;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 23px;
    color: lightgray;
}

input.sheet-tab-button:checked + .sheet-tab {
    border: 1px solid gray;
    border-bottom-color: white;
    color: #333;
}

.sheet-tabs-hr {
    border-bottom: solid gray 1px;
    margin-top: -1px;
}

input.sheet-tab-button.sheet-basics-tab:not(:checked) ~ .sheet-basics-section,
input.sheet-tab-button.sheet-spells-tab:not(:checked) ~ .sheet-spells-section,
input.sheet-tab-button.sheet-traits-tab:not(:checked) ~ .sheet-traits-section,
input.sheet-tab-button.sheet-combat-tab:not(:checked) ~ .sheet-combat-section,
input.sheet-tab-button.sheet-social-tab:not(:checked) ~ .sheet-social-section,
input.sheet-tab-button.sheet-inventory-tab:not(:checked) ~ .sheet-inventory-section,
input.sheet-tab-button.sheet-lifepath-tab:not(:checked) ~ .sheet-lifepath-section {
    display: none;
}

/*
 * Spells section
 */

.sheet-spell-hs-column {
    width: 47%;
    margin-top: 10px;
    margin-right: 10px;
    /*display: inline-block;*/
    vertical-align:text-top;
    float: left;
}

.sheet-spell-top-row {
    vertical-align: top;
}

.sheet-spell-t-column {
    width: 47%;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
}

.sheet-spell-header {
    text-align: center;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}

input.sheet-spell-input {
    width: 260px;
    vertical-align:15px;
    font-size: 1.5em;
}

input.sheet-spell-damage-display {
    position: absolute;
    width: 80px;
    margin-left: 2px;
    margin-top: -12px;
    height: 32px;
    font-size: 1.5em;
    vertical-align:15px;
    font-size: 1.5em;
    font-weight: bold;
}

input.sheet-spell-damage-type[value='Water'] ~ input.sheet-spell-damage-display {
    color: #4999E8;
}

input.sheet-spell-damage-type[value='Fire'] ~ input.sheet-spell-damage-display{
    color: #D4111C;
}

input.sheet-spell-damage-type[value='Earth'] ~ input.sheet-spell-damage-display{
    color: #8D5929;
}

input.sheet-spell-damage-type[value='Metal'] ~ input.sheet-spell-damage-display{
    color: #AFAFAF;
}

input.sheet-spell-damage-type[value='Wood'] ~ input.sheet-spell-damage-display{
    color: #538F10;
}

input.sheet-spell-damage-type[value='Drain'] ~ input.sheet-spell-damage-display{
    color:#43e5f7
}

input.sheet-spell-damage-type[value='Bind'] ~ input.sheet-spell-damage-display{
    color: #ffd966
}

select.sheet-spell-damage {
    width: 120px;
    margin-left: 2px;
    margin-top: -12px;
    height: 32px;
    font-size: 1.5em;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    font-weight: bold;
}


.sheet-spell-magnitude {
    margin-left: 22px;
    /*display: inline-block;*/
    width: 50px;
    height: 80px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.sheet-spell-cost {
    margin-top: -12px;
    margin-left: 122px;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 4px;
    width: 60px;
    text-align: right;
}

.sheet-spell-cost-image{
    width: 25px;
    /*margin-left: 77px;*/
    margin-top: -12px;
    display: none;
}

input.sheet-spell-cost-display[value="Fire"] ~ .sheet-image-fire{
    display: inline-block;
}

input.sheet-spell-cost-display[value="Water"] ~ .sheet-image-water{
    display: inline-block;
}

input.sheet-spell-cost-display[value="Earth"] ~ .sheet-image-earth{
    display: inline-block;
}

input.sheet-spell-cost-display[value="Metal"] ~ .sheet-image-metal{
    display: inline-block;
}

input.sheet-spell-cost-display[value="Wood"] ~ .sheet-image-wood{
    display: inline-block;
}

input.sheet-spell-cost-display[value="Hand"] ~ .sheet-image-hand{
    display: inline-block;
}

.sheet-spell-type-image{
    width: 25px;
    margin-left: 77px;
    margin-top: -12px;
    display: none;
}

input.sheet-spell-type-display[value="Projectile"] ~ .sheet-image-projectile{
    display: inline-block;
}

input.sheet-spell-type-display[value="Area"] ~ .sheet-image-area{
    display: inline-block;
}

input.sheet-spell-type-display[value="Living"] ~ .sheet-image-living{
    display: inline-block;
}

.sheet-spell-hs-notes-input {
    width: 380px;
    height: 50px;
    resize: vertical;
    border: 0 none;
    border-bottom: solid 1px gray;
}

.sheet-spell-t-notes-input {
    width: 380px;
    height: 50px;
    resize: vertical;
    border: 0 none;
    border-bottom: solid 1px gray;
    margin-bottom: 0px;
}

.sheet-spell-scaling-label {
    /*vertical-align:18px;*/
    margin-top: 0px;
    margin-left: 5px;
    position:relative;
    font-weight: bold;
}

.sheet-spell-t-scaling-input {
    width: 380px;
    height: 35px;
    resize: vertical;
    border: 0 none;
    border-bottom: solid 1px gray;
}

/*
 * Traits section
 */

.sheet-traits-section {
    padding-top: 10px;
	font-size: 20px;
}

.sheet-traits-header {
    text-align: center;
    margin-bottom: 5px;
}


.sheet-symbol-small{
	width: 1.5em;
	height: 1.5em;
}

.sheet-current-talismans {
	padding-left:34px;
}

.sheet-talisman-capacity {
	font-size: 20px;
}

input.sheet-talisman-capacity::-webkit-outer-spin-button,
input.sheet-talisman-capacity::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    margin: 0;
}

.sheet-talisman-total{
	padding-left: 8.25%;
}

input.sheet-talisman-over[value='0'] ~ div.sheet-talisman-over {
  display: none;
}

input.sheet-talisman-over[value='1'] ~ div.sheet-talisman-over {
  display: inline-block;
}

/* div.sheet-talisman-exceed { */
	/* display:none; */
/* } */


/*.sheet-traits-input {*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    resize: vertical;*/
/*    border: solid 1px gray;*/
/*}*/

/*
 * Combat section
 */

.sheet-combat-section {
    padding-top: 10px;
}

.sheet-combat-modifiers-box {
    margin-top: 10px;
    margin-bottom: 5px;
}

.sheet-combat-mod-header {
    font-weight: bold;
    margin-left: 25px;
    font-size: 1.2em
}

.sheet-invisible-box {
    visibility: hidden;
}

.sheet-attack-label {
    display: inline-block;
    padding-right: 0;
}

.sheet-attack-input {
    margin-left: 22px;
    width: 180px;
}

.sheet-attack-properties {
    width: 390px;
}

label.sheet-attack-array {
    width: 25px;
    text-align: center;
    font-size: 0.9em;
}

input[type="number"].sheet-attack-array {
    width: 25px;
    text-align: center;
}

.sheet-attack-damage {
    text-align: center;
    width: 90px;
}

select.sheet-attack-damage {
    width: 90px;
    font-size: 0.9em;
    text-align: center;
    border: none;
    border-bottom: solid 1px gray;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sheet-attack-damage::-ms-expand {
    display: none;
}

/*
 * Social section
 */

.sheet-social-section {
    margin-top: 10px;
}

.sheet-social-box {
    width: 403px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    margin-right: auto;
    margin-left: auto;
}

.sheet-health-body {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
}

.sheet-health-bar {
    display: inline-block;
}

.sheet-health-numbers {
    position: absolute;
    left: 40px;
    text-align: center;
}

.sheet-health-numbers-span {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-left: -5px;
}

input[type=number].sheet-health-numbers-label {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 20px;
    background: transparent;
    border-style: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*margin-top: -5px;*/
    /*margin-left: -15px;*/
}

.sheet-health-label {
  width: 150px;
  display: inline-block;
  /*height: 108px;*/
  position: absolute;
  top: 10px;
  left: -15px;
  background: transparent;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /*margin-left: -4px;*/
}

input[type="range"].sheet-rangehealth{
  overflow: hidden;
  position: absolute;
  display: inline-block;
/*  top: -35px;
  left: 30px;*/
  width: 120px;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.3), inset 0 0 20px rgba(0,0,0,1);*/
  -webkit-appearance: none;
  background-color: transparent;
/*  transform: rotate(270deg);*/
}

input[type='range'].sheet-rangehealth::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      /*color: #13bba4;*/
    }
    
input[type='range'].sheet-rangehealth::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 15px;
      box-shadow: -80px 0 0 80px #43d948;
    }

.sheet-health-torso {
    /*display: block;*/
    position: relative;
    top: 100px;
    left: 142px;
    z-index: 100;
}

.sheet-health-left-arm {
    /*display: block;*/
    position: relative;
    top: 150px;
    left: 32px;
    z-index: 100;
}

.sheet-health-right-arm {
    /*display: block;*/
    position: relative;
    top: 150px;
    left: 252px;
    z-index: 100;
}

.sheet-health-left-leg {
    /*display: block;*/
    position: relative;
    top: 300px;
    left: 72px;
    z-index: 100;
}

.sheet-health-right-leg {
    /*display: block;*/
    position: relative;
    top: 300px;
    left: 212px;
    z-index: 100;
}

.sheet-health-head {
    /*display: block;*/
    position: relative;
    top: 10px;
    left: 142px;
    z-index: 100;
}

/*
 * Inventory section
 */

.sheet-inventory-section {
    margin-top: 10px;
}

.sheet-inventory-wealth-box {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.sheet-inventory-wealth-label {
    display: inline-block;
    width: 100px;
}

.sheet-wealth-label {
    text-align: center;
}

.sheet-wealth-box {
    display: inline-block;
    width: 95px;
    height: 60px;
    border: solid gray 1px;
    padding-top: 5px;
    text-align: center;
}

.sheet-wealth-input {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background: white;
}

.sheet-inventory-quick {
    width: 100%;
    height: 100px;
    resize: vertical;
    border: solid 1px gray;
}

.sheet-item-name {
    width: 275px;
    margin-left: 25px;
}

.sheet-item-properties {
    width: 420px;
}

.sheet-item-number {
    width: 50px;
    text-align: center;
}

.sheet-item-page {
    width: 50px;
    text-align: center;
}

.sheet-item-notes-input {
    width: 100%;
    height: 50px;
    resize: vertical;
    border: 0 none;
    border-bottom: solid 1px gray;
}

/*
 * Lifepath section
 */

.sheet-lifepath-section {
    margin-top: 10px;
}

.sheet-training-boxes {
    text-align: center;
    padding-bottom: 10px;
}

.sheet-lifepath-input {
    width: 100%;
    margin-bottom: 10px;
}

.sheet-lifepath-textarea {
    height: 50px;
    width: 393px;
    border: solid 1px gray;
}

.sheet-attempt {
    border: solid 1px gray;
    margin-bottom: 10px;
    padding: 5px;
}

.sheet-attempt > textarea.sheet-lifepath-textarea {
    width: 381px;
}

.sheet-career-age {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.sheet-lifepath-career {
    width: 320px;
    margin-bottom: 10px;
}

select.sheet-career-strata {
    width: 100px;
}

.sheet-lifepath-title {
    width: 208px;
}

.sheet-lifepath-age {
    margin-right: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    top: 5px;
}

.sheet-lifepath-wealth-box {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

.sheet-lifepath-wealth-box .sheet-wealth-box {
    width: 95px;
    height: 45px;
}

.sheet-lifepath-wealth-box label {
    text-align: center;
    margin: 0;
}